@import 'antd/dist/reset.css';
html, body, #__next { height: 100%; }
body { font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; padding: 0; margin: 0; }
.container { max-width: 1000px; margin: 24px auto; padding: 16px; }
